#miLienzo{
    padding: 30px 30px 30px 30px;
    width: 100%;
    height: 100%;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTciammDXmSjqezPIE45LwaXHhm4Hw8DnF_Vd4tW1ATfGgqUkOX&usqp=CAU);
    
}



.calculadora{
    display: block;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    margin-top: 50px;
    background-color:#424949  ;
    border-radius: 35px;
}


.teclas{
    display: flex;
}


.pantalla{
    padding: 18px 18px 0px 18px;
}


.finResultado{
    padding: 0px 18px 18px 18px;
    
}
.finResultado button{
    width: 100%;
    height: 40px;
    background-color: #85C1E9  ;
    color: #000000;
    border: none;
    text-align: center;
}


.numeros{
    padding: 18px 9px 18px 18px;
}
.numeros div{
    text-align: center;
}
.numeros button{
    display: inline;
    border: 1px;
    background-color:#CACFD2 ;  
    color: #000000;  
}



.operaciones{
    padding: 18px 18px 18px 9px;
}
.operaciones button{
    display: block;
    width: 52px;
    height: 52px;
    padding: 10px 18px;
    background-color:#85C1E9;
    color: #000000;
    border: none;
}



#resultado{
    display: block;
    width: 200px;
    height: 40px;
    text-align: center;
    font-size: 30;
    background-color:#D5DBDB ;
    color: #000000;
    padding: 9px ;
    margin-bottom: 15px;
    border-radius: 10px;
}


button{
    display: block;
    width: 50px;
    height: 50px;
    margin: 2px 0px;
    padding: 15px 24px;
    font-size: 15px;
    text-align: center;
}


